/* FONTS */
@import url(../assets/clash-display.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@700&display=swap');

/* Var */
:root {
    --c-dark: #000000;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 255, 243, 71;
    --c-body: #4e504a;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    --bg-section: 189, 181, 181;
}

/* Set Elements */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    background-color: rgb(236, 236, 236);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight:bolder;
    color: var(--c-dark);
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* Img zoom */
.image-zoom {
    position: relative;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* Navigation */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}
/* buttons */
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}
.btn-brand-me-2{
    margin-top: 10px;
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}
.btn-brand-me-2:hover{
    margin-top: 10px;
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
    width: 100px;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}
/* For Home Section */
#home {
    background: linear-gradient(rgba(var(--c-brand-rgb), 1.000), rgba(var(--c-brand-rgb), 0.438)), url(../assets/imgs/bg1.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: #212529;
}

.col-lg-6{
    height: 25px;
}
/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}








/* Footer placement */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}
.footer{
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) , url(pic/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 0px;
}
.footer .footer-flex{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}
.footer-flex .footer1{
    width: 32%;
    color: #FFF;

}
.footer1 img{
    margin-bottom: 50px;
}
.footer1 section{
    font-size: 14px;
    margin-bottom: 20px;
}
.footer1 .footer-links a{
    text-decoration: none;
    color: #FFF;
    margin: 0 8px;
    font-size: 14px;
    display: inline-block;
    transition: .4s ease-in-out;
}
.footer-links a:hover{
    color: var(--main-color);
}

.footer1 h3{
    text-transform: capitalize;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 50px;
    display: inline-block;
}
.footer1 .location{
    margin-left: 30px;
    margin-bottom: 20px;
}
.location span{
    margin-left: -30px;
    display: inline-block;
    margin-right: 13px;
}
.location a{
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
}
.location section{
    margin-bottom: 4px;
}

.footer1 form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #FFF;
    border-radius: 30px;
    overflow: hidden;
}
.footer1 form input{
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 13px;
    color: var(--main-color);
    width: 75%;
}
.footer1 form a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: #FFF;
    background: var(--main-color);
    width: 25%;
    text-align: center;
}

.check{
    margin-top: 20px;
}
.check label{
    font-size: 14px;
}
.ifoot{
    display: flex;
    width: 60px;
}